:root{
    --nav-height: 140px;
}


body{
    background-color: rgb(252, 255, 255);
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
}


.healthyBlue{
    background-color: #2d7997;
}
.healthyGreen{
    background-color: #5d9e71;
}

#navbar-header a {
    color: #00549d;
    font-size: 1.05em;
    font-weight: 700;
}

#navbar-header a:hover {
    color: rgb(37, 207, 156);
}


#title{
    padding-left: 1rem;

    color: #00549d;
    font-size: 2.7em;
    margin: 0;
}
#titleQuote{
    padding-left: 2.3rem;

    color: white;
    margin-top: -10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 1.2em;
}
#RDN{
    font-size: .85em;   
}

#main-grid{
    display: grid;
    grid-template-areas: "navbar" "page";
}

.page-grid{
    padding: 0 2em 0 2em;
    grid-area: page;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: calc(100vh - var(--nav-height));
    overflow-y: auto;
}

#navbar-header{
    grid-area: navbar;
    display: block;
    background-color: #fffff7;
    height: var(--nav-height);
    width: 100%;
}
#navBar{
    padding: 5px 0 0 0;
}
.flexRowContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    height: 30px;
}

.page-title{
    grid-column: 1/ span 10;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.5em;
}

.banner{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    margin: 3px;
    padding: 10px 17px 10px 17px;
    height: fit-content;
    line-height: 1.2em;
}
.banner-hover:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.quote{
    align-self: end;
    padding:15px 0 15px 0;
    text-align: center;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin: 40px 0 50px 0;
}