/*
font-family: 'Roboto Slab', serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Courgette', cursive;
font-family: 'Handlee', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Merienda', cursive;
*/

:root{
  --nav-height: 125px;
}

body{
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: white;
  font-size: 2em;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.84);
}

.RobotoSlab{
  font-family: 'Roboto Slab', serif;
}
.FiraSans{
  font-family: 'Fira Sans', sans-serif;
}
.IndieFlower{
  font-family: 'Indie Flower', cursive;
}
.Anton{
  font-family: 'Anton', sans-serif;
}
.AmaticSC{
  font-family: 'Amatic SC', cursive;
}
.PermanentMarker{
  font-family: 'Permanent Marker', cursive;
}
.Courgette{
  font-family: 'Courgette', cursive;
}
.Handlee{
  font-family: 'Handlee', cursive;
}
.MarckScript{
  font-family: 'Marck Script', cursive;
}
.Merienda{
  font-family: 'Merienda', cursive;
}


.hiddenElement{
  display: none;
}

.flexRowContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.border-gradient {
  border-width: 2px;
}

.smallTopMargin{
  margin-top: 5px;
}
.mediumTopMargin{
  margin-top: 10px;
}
.largeTopMargin{
  margin-top: 15px;
}

.smallTopSpacing{
  margin-top: 50px;
}
.mediumTopSpacing{
  margin-top: 80px;
}
.largeTopSpacing{
  margin-top: 150px;
}


.centered{
  margin: auto;
}
.left{
  margin-right: auto;
}

.textCenter{
  text-align: center;
}
.textLeft{
  text-align: left;
}
.textRight{
  text-align: right;
}

.italics{
  font-style: italic;
}

.paragraphContainer{
  width: 65%;
  margin: auto;
}


.healthyGreen{
  /* background-color: #cee6cd; */
  background-color: #5d9e71;
}
.white{
  color: white;
}

.fullImg{
  width: 100%;
  height: auto;
}


#title{
  font-size: 3rem;
  margin: 0;
}
#titleQuote{
  margin-top: -10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-size: 1.2em;
}
#RDN{
  font-size: .85em;
}

#navBarBottom{
  padding-bottom:5px;
  background: linear-gradient(90deg, rgba(93,158,113,1) 0%, rgba(206,230,205,1) 50%, rgba(93,158,113,1) 100%);
}
.navButton .dropdownContainer {
    display:none;
}

.navButton:hover .dropdownContainer {
    display:block;
}
#navBar{
  align-items: flex-end;
  justify-content: space-evenly;
} 
.navButton{
  outline: none;
  user-select: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.navButton:not(.dropdownItem):hover{
  cursor: pointer;
  color: #33bd1e;
}
.navButton:active{
  color: green;
}

.expanding-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.expanding-shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.arrow-container {
  background-color: #705e52d1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7em;
  width: 7em;
  margin-right: 50px;
}
.arrow {
  box-sizing: border-box;
  height: 4em;
  width: 4em;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}
.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}


.banner, .quote{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.banner{
  background-color:#9a46a082;
  color: white;
  font-size: 1.2rem;
  max-width: 50%;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
}
.quote{
  text-align: center;
  background-color:#5b726e82;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  max-width: 50%;
  margin: 1rem;
  padding: 1rem 2rem 1rem 2rem;
}
.hero{
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  /* min-width: calc(100vw); */
  max-width: calc(100vw);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
  justify-content: center;
}


#main-grid{
  grid-template-areas: 
    "home"
    "about"
    "services"
    "work"
    ;   
    height: calc(100vh - var(--nav-height));      
    overflow-y: auto;           
}

#navbar-header{
  grid-area: navbar;
  display: block;
  background-color: aliceblue;
  height: var(--nav-height);
  /* position: fixed;
  z-index: 1;
  top: 0;
  left: 0; */
  width: 100%;
}
#navbar-header h1{
  color: black;
}
#home{
  grid-area: home;
}
#home .hero{
  /* min-height: 100vh; */
  background: url("img/misty-mountains.jpg") center/cover no-repeat;
  justify-items: center;	
}
#home .banner, #home .quote {
  background-color: #2f7243a3;
}
#about{
  grid-area: about;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 3em;
}
#about-intro .hero{
  background: url("img/CO_smileyBabe.JPG") center/cover no-repeat;
  justify-items: end;	
  overflow-y: auto;
}
#about-intro .banner{
  background-color: #705e52d1;
}
#about-cont1 .hero{
  background: url("img/CO_mellyOnABridge.jpg") center/cover no-repeat;
  grid-template-rows: 1fr 3fr 6fr 1fr;
  justify-items: start;
}
#about-cont1 .banner,#about-cont1 .quote{
  max-width: 40%;
  background-color: #72c3f79c;
}
#services{
  grid-area: services;
}
#work{
  grid-area: work;
}
#work .hero{
  background: url("img/leaf-muscle.jpg") center/cover no-repeat
}
#work .banner{
  background-color: #2e6d01ba;
}

#footer{
  display: block;
}