:root{
    --nav-height: 100px;
}


body{
    background-color: rgb(255, 247, 247);
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}


.healthyBlue{
    background-color: #2d7997;
}
.healthyGreen{
    background-color: #5d9e71;
}

#navbar-header a {
    color: #00549d;
    font-size: 1.1em;
    font-weight: 700;
}

#navbar-header a:hover {
    color: rgb(37, 207, 156);
}


#title{
    color: #00549d;
    font-size: 3em;
    margin: 0;
}
#titleQuote{
    color: white;
    margin-top: -10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 1.2em;
}
#RDN{
    font-size: .85em;   
}

#main-grid{
    display: grid;
    grid-template-areas: "navbar" "page";
}

.page-grid{
    grid-area: page;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 1fr;
    height: calc(100vh - var(--nav-height));
    overflow-y: auto;
}

#navbar-header{
    grid-area: navbar;
    display: block;
    background-color: #fffedd;
    height: var(--nav-height);
    width: 100%;
}
#navbar{
    height: 40px;
}
.flexRowContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    height: 30px;
}

